<ul>
    <li <eq name="Think.CONTROLLER_NAME" value="Type">
        class="active"
         </eq> 
        >
        <a href="/Admin/typelist">分类管理</a>
    </li>
    <li <eq name="Think.CONTROLLER_NAME" value="Article">
        class="active"
         </eq>
        >
        <a href="/Admin/articlelist">文章管理 </a>
    </li>
    <li <eq name="Think.CONTROLLER_NAME" value="Talk">
        class="active"
         </eq>
        >
        <a href="/Admin/talkall">评论管理 </a>
    </li>
</ul>
